In [1]:
!ls

example_sample_submission.csv  nohup.out       riiid-test-answer-prediction.zip
example_test.csv	       __pycache__     test_exploration.ipynb
lc_utils_2020.py	       questions.csv   train.csv
lectures.csv		       riid_eda.ipynb
LendingClub-AiImmersion.ipynb  riiideducation

In [4]:
import pandas as pd
df = pd.read_csv('example_test.csv')
df.head(50)

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
0,0,0,0,275030867,5729,0,0,NaN,NaN,[],[]
1,1,0,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN
2,2,0,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN
3,3,0,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN
4,4,0,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN
5,5,0,18020362258,1364159702,12023,0,4424,18000.0,True,NaN,NaN
6,6,0,2325432079,1521618396,574,0,1367,18000.0,True,NaN,NaN
7,7,0,39456940781,1317245193,12043,0,5314,17000.0,True,NaN,NaN
8,8,0,3460555189,1700555100,7910,0,532,21000.0,True,NaN,NaN
9,9,0,2214770464,998511398,7908,0,393,21000.0,True,NaN,NaN
10,10,0,516803182,1422853669,1143,0,85,15000.0,True,NaN,NaN
11,11,0,2153839851,1096784725,11033,0,315,34250.0,True,NaN,NaN
12,12,0,2153839851,1096784725,11032,0,315,34250.0,True,NaN,NaN
13,13,0,2153839851,1096784725,11034,0,315,34250.0,True,NaN,NaN
14,14,0,2153839851,1096784725,11031,0,315,34250.0,True,NaN,NaN
15,15,0,1218852591,385471210,9538,0,378,11000.0,True,NaN,NaN
16,16,0,32722340115,1202386221,1002,0,136,16000.0,True,NaN,NaN
17,17,0,2059097926,2018567473,12148,0,589,17000.0,True,NaN,NaN
18,18,1,23609,275030867,5502,0,1,34000.0,False,"[0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, ...","[0, 0, 1, 1, 0, 1, 3, 3, 1, 1, 0, 3, 1, 2, 2, ..."
19,19,1,2035159380,1233875513,1512,0,1431,25000.0,True,NaN,NaN
20,20,1,2035159380,1233875513,1511,0,1431,25000.0,True,NaN,NaN
21,21,1,2035159380,1233875513,1513,0,1431,25000.0,True,NaN,NaN
22,22,1,1217231,891955351,9145,0,20,23000.0,True,NaN,NaN
23,23,1,11265012636,1981166446,3299,0,950,36333.0,True,NaN,NaN
24,24,1,11265012636,1981166446,3297,0,950,36333.0,True,NaN,NaN
25,25,1,11265012636,1981166446,3298,0,950,36333.0,True,NaN,NaN
26,26,1,4693145319,1637273633,11373,0,3148,41000.0,True,NaN,NaN
27,27,1,2294633294,2030979309,3348,0,170,30666.0,True,NaN,NaN
28,28,1,2294633294,2030979309,3350,0,170,30666.0,True,NaN,NaN
29,29,1,2294633294,2030979309,3349,0,170,30666.0,True,NaN,NaN
30,30,1,13679981387,319060572,10951,0,621,30250.0,True,NaN,NaN
31,31,1,13679981387,319060572,10953,0,621,30250.0,True,NaN,NaN
32,32,1,13679981387,319060572,10954,0,621,30250.0,True,NaN,NaN
33,33,1,13679981387,319060572,10952,0,621,30250.0,True,NaN,NaN
34,34,1,62798100988,288641214,5418,0,267,24000.0,True,NaN,NaN
35,35,1,251107302,98059812,5892,0,9,34000.0,True,NaN,NaN
36,37,1,1254086842,674533997,5301,0,1044,29000.0,True,NaN,NaN
37,38,1,44526338636,555691277,666,0,52,25000.0,True,NaN,NaN
38,39,1,39456965438,1317245193,12195,0,5315,18000.0,True,NaN,NaN
39,40,1,32722359498,1202386221,582,0,137,17000.0,True,NaN,NaN
40,41,1,417208826,775113212,10078,0,128,28250.0,True,NaN,NaN
41,42,1,417208826,775113212,10080,0,128,28250.0,True,NaN,NaN
42,43,1,417208826,775113212,10081,0,128,28250.0,True,NaN,NaN
43,44,1,417208826,775113212,10079,0,128,28250.0,True,NaN,NaN
44,45,1,209087981,1219481379,3784,0,40,22000.0,True,NaN,NaN
45,46,2,42512,275030867,6133,0,2,17000.0,False,"[1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, ...","[1, 2, 2, 2, 1, 0, 1, 2, 1, 1, 3, 2, 0, 0, 3, ..."
46,47,2,2325462978,1521618396,786,0,1368,19000.0,True,NaN,NaN
47,48,2,76816459637,1148874033,5038,0,6958,12000.0,True,NaN,NaN
48,49,2,13309942648,554169193,1260,0,4428,18000.0,True,NaN,NaN
49,50,2,18643018681,1281335472,175,0,771,24000.0,True,NaN,NaN

In [5]:
import pandas as pd
df = pd.read_csv('example_sample_submission.csv')
df

     row_id  answered_correctly  group_num
0         0                 0.5          0
1         1                 0.5          0
2         2                 0.5          0
3         3                 0.5          0
4         4                 0.5          0
..      ...                 ...        ...
99      104                 0.5          3
100     105                 0.5          3
101     106                 0.5          3
102     107                 0.5          3
103     108                 0.5          3

[104 rows x 3 columns]